.item-list {
    scroll-snap-type: x mandatory;
}

.item {
    scroll-snap-align: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.item-list {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: x mandatory;
}